<style>
exemple {
  font-family: sans-serif;	
}
p  {
  font-family: sans-serif;
  font-size: 10px;
}

td  {
  font-family: sans-serif;
  font-size: 10px;
}
table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}

</style>
<body class="exemple">
<table style=" width: 100%; border-radius: 30px;" class="exemple" border=1>
<tbody>
<tr>
<td style="width: 20%;" class="exemple">
<p>&nbsp;IMAGE LOGO</p>
<p>ZI OUEST 1 ACTIS 1<br />320 RUE DE CHAMBOURG<br />01100 OYONNAX<br />T&eacute;l&eacute;phone : 04 74 81 70 10</p>
<p>Email :adv@hephilens.com<br />Web :<a href="http://www.prats-france.fr">www.prats-france.fr</a></p>
<p>&nbsp;</p>
<p>SIRET : 409470796<br />NAF : 4649Z</p>
<p>&nbsp;</p>
<table  width="100%">
<tbody>
<tr>
<td style="width: 65px;">N/Id CEE</td>
<td style="width: 65px;">FR35409470796</td>
</tr>
<tr>
<td style="width: 65px;">V/Id CEE</td>
<td style="width: 65px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 65px;">V/R&eacute;f&eacute;rence</td>
<td style="width: 65px;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 20%;">&nbsp;T&eacute;l&eacute;copie : 04 74 81 70 16</td>
<td style="width: 60%;">
<table>
<tbody>
<tr>
<td>Bon de livraison N&deg; BL_166624</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table  width="60%;">
<tbody>
<tr>
<td style="width: 48px;">Date</td>
<td style="width: 49px;">Client</td>
<td style="width: 49px;">Page</td>
</tr>
<tr>
<td style="width: 48px;">31/12/2020</td>
<td style="width: 49px;">94441</td>
<td style="width: 49px;">1/1</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p>OPTIKAL</p>
<p>5 RUE DE LA FDFD</p>
<p>EFDSFSD</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table><br />
<table width="100%" style=" width: 100%; border-radius: 30px;" >
<tbody style=" width: 100%; border-radius: 30px;" >
<tr>
<td style="width: 25%;">REFERENCE</td>
<td style="width: 25%">DESIGNATION</td>
<td style="width: 25%;">Qt&eacute; Livr&eacute;e</td>
<td style="width: 25%;">Qt&eacute; Cd&eacute;e</td>
</tr>
<tr>
<td style="width: 25%;">P4962</td>
<td style="width: 25%;">Commande client : CC_083924 :<br />Innovator 160 Ultra<br />+0,75 ADD 2,50 ODG<br />DARVISH</td>
<td style="width: 25%;">2</td>
<td style="width: 25%;">2</td>
</tr>
<tr>
<td style="width: 25%;">&nbsp;</td>
<td style="width: 25%;">&nbsp;</td>
<td style="width: 25%;">&nbsp;</td>
<td style="width: 25%;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table  width="100%">
<tbody>
<tr>
<td style="width: 50%;">
<table>
<tbody>
<tr>
<td>Nb COLIS : 1<br />Transport : CIBLEXNUIT<br />CIBLEX NUIT<br />Poids : KG</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 50%;">&nbsp;
<table>
<tbody>
<tr>
<td>
<p>Commentaire Client</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>Cette livraison a fait l'objet d'un contr&ocirc;le qualit&eacute;. Cependant, dans le cas ou vous constateriez une anomalie, veuillez contacter notre Service<br />Commercial.</p>
</body>