{% extends 'base.html.twig' %}
{% block body %}
{% if not app.user %}
<h1>Connexion</h1>
<form  action="{{ path('security_login') }}" method="post">
  <label for="fname">email :</label><br>
  <input type="text" id="fname" name="_username"><br>
  <label for="lname">Mot de passe :</label><br>
  <input type="password" id="lname" name="_password">
  <button type="submit" class="btn btn-success">Connexion !</button>
</form>
{% else %}
<br /><br /><br /><br />
Bienvenue sur l'application...
{% endif %}

{% endblock %}
