{% extends 'base.html.twig' %}
{% block body %}
 <br />DERNIER NUMERO DE FACTURE : {{ last_id}}
{{ form_start(form)  }}

{{ form_widget(form)  }}
<button type="submit" class="btn -btn-success">Mettre à jour l'idenfiant de livraison</button>
{{ form_end(form)  }}
{% endblock %}
